body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(235, 235, 235);
    color: #7d7d7d;
    line-height: 20px;
    margin: auto;
}

.TBL {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 400px;
    margin: auto;
    margin-block-end: 20px;
    padding: 25px;
    text-align: center;
    border-radius: 1%;
    box-shadow: 0 0 5px #7d7d7d4b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TBL h1 {
    color: rgb(221, 85, 85);
}

.TBL h2 {
    font-weight: normal;
}

.TBL img {
    border-radius: 50%;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    width: 120px;
    height: 120px;
}

.TBL a {
    border-color: rgb(221, 85, 85);
    background-color: rgb(221, 85, 85);
    border-style: solid;
    border-radius: 5%;
    padding: 7px;
    color: rgb(235, 235, 235);
    font-weight: bold;
    text-decoration: none;
}

.Logo {
    background-color: rgb(255, 255, 255);
    color: rgb(235, 235, 235);
    width: 500px;
    height: 90px;
    margin: 20px auto 20px auto;
    padding: 50px 25px 50px 25px;
    border-radius: 1%;
    box-shadow: 0 0 5px #7d7d7d4b;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-right: 40px;
}

li {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;

}

.Logo a {
    color: rgb(204, 204, 204);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.fab {
    font-size: 25px;
    height: 30px;
}


.Movies {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 650px;
    margin: auto;
    margin-block-end: 20px;
    padding: 25px;
    text-align: center;
    border-radius: 1%;
    box-shadow: 0 0 5px #7d7d7d4b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Movies img {
    width: 100px;
    height: 150px;
    float: left;
    padding-right: 20px;
    padding-bottom: 30px;
}

.Movies h3 {
    padding-bottom: 40px;
}

.Movies h4 {
    text-align: center;
}

article {
    text-align: justify;
}

/* @media screen and (max-height: 1200px) {
    main {
        width: 80%;
        height: 100%;
    }  
} */